<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Produtos</title>
    <link rel="stylesheet" href="/css/layout-cliente.css">
</head>
<body>
    <header> 
          <div class="logo">BEM VINDO (A) QLICK BUY</div>
        <nav>
            <div class="header-links">
                <a href="/profile">
                    <img src="/img/voltar.png" alt="Voltar">
                </a>
                <a href="/products/cart">
                    <i class="fas fa-shopping-cart"></i>
                    <span>CARRINHO</span>
                </a>
            </div>
        </nav>
    </header>

            <main>
                <%- body %>
            </main>
    <footer>
        <p>&copy; 2024 Minha Loja. Todos os direitos reservados.</p>
    </footer>

</body>
</html>
