<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Estoque</title>
    <link rel="stylesheet" href="/css/layout.css">
</head>
<body>
    <header>
        <h1>Estoque</h1>
        <nav>
            <a href="/products">Produtos (Admin)</a>
            <a href="/products/add">Adicionar Produto</a>
            <a href="/users">LISTA DE CLIENTES</a>
        </nav>
    </header>
    <main>
        <%- body %>
    </main>
</body>
</html>
